html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, pink, orange);
  overflow: hidden;
}
#main {
  /* border: 1rem solid black; */
  height: 20rem;
  width: 30rem;
  position: fixed;
  background-color: black;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.heading,
input,
label {
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
  height: 2rem;
  width: 17rem;
  /* left: 100rem; */
}
.heading {
  height: 2rem;
  width: 28rem;
}
.btn-add {
  width: 10rem;
  height: 4rem;
  top: 2rem;
  left: 12rem;
  font-size: 1.6rem;
  color: white;
  background-color: rgb(170, 19, 49);
  border: none;
  position: relative;
  right: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  /* border: 1rem solid black; */
  background-color: white;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding: 0.4rem 0.2rem 0.4rem 0.3rem;
  position: relative;
  right: 4rem;
  width: 37.9rem;
  height: 3rem;
  margin-bottom: 0.6rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}
li > #span1,
span {
  font-size: 1.7rem;
  color: black;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 10rem;
}
li > #edited-input-text {
  font-size: 1.7rem;
  color: black;
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 7rem;
  position: relative;
  top: -0.7rem;
  right: 1.1rem;
}
li > #span2 {
  /* font-size: 40rem; */
  color: black;
  font-weight: bold;
  width: 10rem;
  /* border: 1rem solid blue; */
}
li > #edited-input-date {
  /* font-size: 40rem; */
  color: black;
  font-weight: bold;
  width: 12.4rem;
  position: relative;
  top: -0.7rem;
  left: -1.9rem;
  /* border: 1rem solid blue; */
}

li > #btn1 {
  color: white;
  background-color: rgb(170, 19, 49);
  border: none;
  border-radius: 0.5rem;
}
li > #btn2 {
  color: white;
  background-color: rgb(170, 19, 49);
  border: none;
  border-radius: 0.5rem;
}
li > #save-btn {
  color: white;
  background-color: rgb(170, 19, 49);
  border: none;
  position: relative;
  right: 1rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  /* border: 1rem solid blue; */
}
.btn-add:hover,
li > #delete-btn:hover,
li > #save-btn:hover,
li > #btn2:hover,
li > #btn1:hover {
  background: red;

  transition: ease-in-out 1s;
}
li > #delete-btn {
  color: white;
  background-color: rgb(170, 19, 49);
  border: none;
  position: relative;
  right: 0.4rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  /* border: 1rem solid blue; */
}
.heading {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  /* text-decoration: line-through; */
  color: white;
  text-align: center;
  text-shadow: 0 0 1rem #ff0000, 0 0 2rem #ff0000, 0 0 4rem #101010,
    0 0 8rem #101010;
  /* display: none; */
}
label {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  color: aliceblue;
}
#output {
  /* border: 1rem solid black; */
  background-color: rgba(247, 239, 239, 0.959);
  width: 40rem;
  height: 50rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  /* top: -0.9rem; */

  /* align-items: center; */
}
#output > h1 {
  /* border: 1rem solid black; */
  height: max-content;
  font-size: 5rem;
  font-weight: 100;
  margin-top: 0;
  width: 90%;
  text-align: center;
}
#output > .plus-btn {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: none;
  color: antiquewhite;
  font-size: 4rem;
  background-color: rgb(255, 115, 64);
  font-weight: 100;
  position: relative;
  top: -1.2rem;
  left: 16rem;
}
#output > .plus-btn:hover {
  background-color: orangered;
  transition: all 1s;
}
#output > ul {
  /* border: 1rem solid red; */
  width: 35rem;
  height: 40rem;
  display: flexbox;
  flex-direction: row;
  position: relative;
  top: -2rem;
  /* left: 20rem; */
  flex-wrap: wrap;
}
